[block: top]
                		<div class="box">
					<div class="head">Contact Us</div>
					<div class="body group">
						Here you can contact us, please read carefully as there are three ways depending on what you want to do.<br />
						<br />
						If you are writing an actual article please use the <a href="{:submit_link}">Submit Article area!</a> to speed up your news getting published.<br />
						Or<br />
						You can <a href="{:email_link}">Email us</a> for something more simple!<br />
						Or
					</div>
				</div>

[/block: top]
