[block: top]
<div class="box"><div class="head">Who likes this?</div>
[/block: top]

[block: user_row]
<div class="body group"><div class="fleft" style="padding-right: 2px;"><img src="{:avatar}" alt="avatar" width="30" height="30" /></div> <div class="fleft"><a href="{:profile_link}">{:username}</a></div></div>
[/block: user_row]

[block: end]
</div>
[/block: end]
