[block: list]
				<!-- Misc Links & Stuff -->
				<div class="box">
					<div class="head">Games &amp; Release Calendar</div>
					<div class="body list">
					<ul>
						{:counter}
						{:counter_today}
						<li><a href="{:url}index.php?module=calendar">View release calendar</a></li>
						<li><a href="{:url}index.php?module=game">View games database</a></li>
					</ul>
					</div>
				</div>
[/block: list]
