[block: main]
<div class="box">
	<div class="head">Moderation Queue Admin</div>
	<div class="body list">
	<ul class="list-group">
		<li class="list-group-item"><a href="/admin.php?module=mod_queue&amp;view=manage">Forum Posts Awaiting Approval {:post_counter}</a></li>
	</ul>
	</div>
</div>
[/block: main]
